// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-image {
  /* 画像ファイルの指定 */
  height: 650px;
  background-image: url("top2.png");
  background-size: cover;
  background-position: 80% 35%;
}