// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.up-image {
  height: 880px;
  background-image: url("up_image.png");
  background-size: cover;
  background-position: center 80%;
}

.index-image {
  /*height: 238px;
  background-image: url("index.png");
  background-size: cover;
  background-position: 80% 90%;*/
}
