// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* スマホ用のCSSはメディアクエリの外に記述する0~425px */
.room-image {
    height: 450px;
    background-image: image-url("room4.png");
    background-size: cover;
    /*background-attachment: fixed; --背景画像の固定--*/
    background-position: center center;
}


/*  col-xs（426px以上）のサイズ用　*/
@media screen and (min-width: 426px) {
  .room-image {
    height: 360px;
    background-image: image-url("room4.png");
    background-size: cover;
    /*background-attachment: fixed; --背景画像の固定--*/
    background-position: 100% 75%;
  }
}

