<h1 class="text-center">SNACKERS</h1>
<!--フラッシュメッセージの表示-->
<p class="text-center text-danger"><%= flash[:notice] %></p>
<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-10 mx-auto mt-3">
            <h3 class="text-center">
              宅呑み好きなそこのあなた、<br>
              日々の肴にマンネリを感じていませんか？<br>
              さあ、自分では考えつかないような<br>
              斬新なレシピを探しにいきましょう！
            </h3>
        </div>
    </div>
</div>
