/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* スマホ用のCSSはメディアクエリの外に記述する0~425px */
body{
    margin: 0;
    padding: 0;
}
.sticky-top {
    background-color: black;
}
.pagination {
    justify-content: center;
}
.header-logo {
    /*background-image: image-url("SNACKERS.png");*/
    border-radius: 50%;/* 角丸半径を50%にする(=円形にする) */
    width:  60px;       /* ※縦横を同値に */
    height: 60px;       /* ※縦横を同値に */
    /*background-size: cover;*/
    background-position: center center;
}
.user-btn {
  width: 70px;
}
.user-name {
  display:none
}
.user-title {
  font-size: 20px;
}
.posts-title {
  font-family: 'Alkatra', cursive;
  font-size: 23px;
}
.post-details {
  font-size: 14px;
}
.daytimes {
  font-size: 12px;
}
.header-btn {
  font-size: 10px;
}
.admin-title {
  font-size: 23px;
}

/*  col-xs（426px以上）のサイズ用　*/
@media screen and (min-width: 426px) {
 body{
    margin: 0; padding: 0;
 }
 .sticky-top {
     background-color: black;
 }
 .pagination {
    justify-content: center;
 }
 .header-logo {
    /*background-image: image-url("snackers.jpg");
    /*border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width: 100px;       /* ※縦横を同値に */
    height: 100px;    /* ※縦横を同値に */
    /*background-size: cover;
    background-position: center center;*/
 }
 .user-btn {
   width: 110px;
 }
 .posts-title {
  font-family: 'Alkatra', cursive;
  font-size: 40px;
  padding-left: 100px;
 }
 .post-details {
  font-size: 20px;
 }
 .user-title {
  font-size: 30px;
 }
 .daytimes {
  font-size: 15px;
 }
 .header-btn {
  font-size: 15px;
 }
 .admin-title {
  font-size: 30px;
 }
}
