// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
.top-image {
   background-image: image-url("425top.png");
   background-position: center 70%;
   width: 100%;
   height: 660px;
}


/*  col-xs（426px以上）のサイズ用　*/
@media screen and (min-width: 426px) {
 .top-image {
  /* 画像ファイルの指定 */
  height: 715px;
  background-image: image-url("top2.png");
  background-size: cover;
  background-position: 80% 35%;
 }
}