<div class="container px-2 px-sm-0">
<h2 class="admin-title mt-3 mb-3 text-center">会員一覧</h2>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto mt-5">
            <table class="table table-hover">
               <thead class="bg-light">
                 <tr>
                  <th class="daytimes">ID</th>
                  <th class="daytimes">NAME</th>
                  <th class="daytimes">Address</th>
                  <th class="daytimes">Status</th>
                 </tr>
               </thead>
               <tbody>
                 <% @users.each do |user| %>
                  <tr>
                    <td class="daytimes"><%= user.id %></td>
                    <td class="daytimes">
                      <%= link_to user.name, admin_user_path(user.id) %>
                    </td>
                    <td class="daytimes"><%= user.email %></td>
                    <% if user.is_deleted == false %>
                    <td class="daytimes text-success">有効</td>
                    <%  else %>
                    <td class="daytimes text-secondary">退会</td>
                    <% end %>
                  </tr>
                 <% end %>
               </tbody>
            </table>
        </div>
        <!--kaminariでのページネーション-->
        <h5 class="mt-5"><%= paginate @users %></h5>
    </div>
</div>