<div class="container px-2 px-sm-0">
    <div class="row mx-auto">
        <div class="col-md-12 col-12 mx-auto mt-5">
          <h2 class="posts-title mb-5 text-danger text-center">不適合ユーザーにつき<br>登録情報を削除しますか？</h2>
        </div>
    </div>
        
    <div class="row mx-auto">
        <div class="col-md-2 col-9 mx-auto mt-5">
            <p class="text-center"><%= link_to '退会させない', admin_user_path(@user), class: 'btn btn-primary nav-link text-white ml-5', style: 'width:130px' %></p>
            <!--#退会機能、adminが強制退会させるときはユーザーidを含める-->
          　<p class="text-center"><%= link_to '退会させる', admin_user_withdraw_path(@user), method: :patch, data: { confirm: "本当に退会させますか？" }, class: 'btn btn-danger nav-link text-white ml-5', style: 'width:130px' %></p>
      　</div>
    </div>
</div>