<!--userごとのお気に入り一覧-->
<div class="container px-3 px-lg-0">
　<h2 class="posts-title pt-2 pb-2 border-top border-bottom mt-3 mb-3 text-center"><%= @user.name %>のお気に入り一覧</h2>
  <% if @bookmark_list.present? %>
    <!--投稿一覧,render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] -->
    <%= render 'public/posts/list', posts: @posts %>
  <% end %>
</div>