<div class="container px-2 px-sm-0">
    <div class="row mx-auto">
      <div class="col-md-12 col-12 mx-auto text-center mt-5">
        <h2 class="posts-title mb-5 text-danger">本当に退会しますか？</h2>
        <h4 class="post-details text-center">
           退会すると投稿履歴が全て消えてしまいます。<br>
           <br>
           退会する場合は、「退会する」をクリックしてください。
        </h4>
      </div>
    </div>
    
    <div class="row mx-auto">
      <div class="col-md-1 col-6 mx-auto mt-5">
        <p class="text-center">
          <%= link_to '退会しない', public_user_path(current_user), class: 'btn btn-primary nav-link text-white', style: 'width:120px' %>
      　   <%= link_to '退会する', public_users_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: 'btn btn-danger nav-link text-white', style: 'width:120px'%>
      　</p>
    　</div>
    </div>
</div>