<div class="container px-5 px-sm-0">
    <div class="row d-flex">
        <div class="col text-center mt-5">
          <h2 class="mb-5">本当に退会しますか？</h2>
          <h4 class="text-center">
             退会すると投稿履歴は残りますが<br>
             次回登録時、引き継ぐことはできません。<br>
             退会する場合は、「退会する」をクリックしてください。
          </h4>
          <div class="d-flex mt-5 justify-content-center">
              <p><%= link_to '退会しない', public_user_path(current_user), class: 'btn btn-primary nav-link text-white ml-5', style: 'width:120px' %></p>
            　<p><%= link_to '退会する', public_users_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: 'btn btn-danger nav-link text-white ml-5', style: 'width:120px' %></p>
        　</div>
        </div>
    </div>
</div>